.image-mover {
    border: 2px dashed gray;
    position: absolute;
    min-width: 32px;
    min-height: 32px;
    cursor: move;
}

#img-mover-img {
    display: block;
    width: 100%;
    height: 100%;
}

.img-mover-btn {
    background: #03a9f4;
    padding: 5px;
    color: white;
    width: 33%;
}

#img-mover-btns {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 100%;
    display: flex;
}

.btn-group button {
    background-color: #808080;
    /* Green background */
    border: 1px solid #636060;
    /* Green border */
    color: black;
    /* White text */
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* Pointer/hand icon */
    font-size: 1em;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #a5a3a3;
}

button {
    outline-width: 0;
}

.btn-group {
    background-color: #808080;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
    position: relative;
    height: 50px;
    display: flex;
}

.whiteboardTool.active {
    background: #bfbfbf;
}

#whiteboardThicknessSlider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 3px;
    background: transparent;
    outline: none;
    opacity: 1;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#draw-settings {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top-left {
    position: absolute;
    left: 0;
    top: 0;
}

.fill {
    height: 100%;
    width: 100%;
}

#background-grid {
    opacity: 0.2;
}

#whiteboard-canvas {
    cursor: crosshair;
}

#drag-and-drop {
    border: 7px dashed gray;
    color: gray;
    font-size: 23em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#mouse-overlay {
    cursor: none;
}

#scale-icon {
    position: absolute;
    bottom: -4px;
    right: 2px;
    font-size: 2em;
    color: gray;
    transform: rotate(-45deg);
}